# 날짜를 계산하고 요일으 알려면?(datetime.date)
### 년,월,일로 날짜를 표현할 때 사용하는 모듈

In [1]:
import datetime 

day1 = datetime.date(2022,8,31)
print(day1)
day2 = datetime.date(2023,1,24)
print(day2)

diff = day2 - day1
print(diff)
diff.days

2022-08-31
2023-01-24
146 days, 0:00:00

146

In [2]:
#월요일부터 0 
print(day2.weekday())

#월요일부터 1
print(day2.isoweekday())

1
2

# 두 날짜의 차이를 알려면?(datetime.timedelta)
### 두 날짜의 차이를 계산 +, - 사용

In [3]:
import datetime
today = datetime.date.today()
today

datetime.date(2023, 2, 5)

In [4]:
diff_days = datetime.timedelta(days=100)
diff_days

datetime.timedelta(days=100)

In [5]:
today + diff_days

datetime.date(2023, 5, 16)

In [6]:
today - diff_days

datetime.date(2022, 10, 28)

# 윤년인 해를 알려면?(calendar.isleap)

In [7]:
import calendar
print(calendar.isleap(0),
calendar.isleap(2023),
calendar.isleap(2024))

True False True

# 앞뒤에서 자료를 넣고 빼려면?(collection.deque)
### deque 자료형을 생성하는 모듈

In [8]:
from collections import deque
a = [i for i in range(1,6)]
q = deque(a)

In [9]:
q

deque([1, 2, 3, 4, 5])

In [10]:
q.rotate(3)
q

deque([3, 4, 5, 1, 2])

In [11]:
q.rotate(-2)
q

deque([5, 1, 2, 3, 4])

# 자료에 이름을 붙일려면?(collection.namedtuple)
### 키값으로 데이터에 접근할 수 있는 튜플을 생성하는 함수

In [12]:
from collections import namedtuple
data = [
    ('황성민', '23', '01067232252'),
    ('최승현', '23', '01012345678'),
    ('김희연', '21', '01051356164')
]

In [13]:
Employee = namedtuple("Employee", 'name, age cellphone')

In [14]:
# 둘 다 같음 
data = [Employee(emp[0], emp[1], emp[2]) for emp in data]
data = [Employee._make(emp) for emp in data]

In [15]:
data

[Employee(name='황성민', age='23', cellphone='01067232252'),
 Employee(name='최승현', age='23', cellphone='01012345678'),
 Employee(name='김희연', age='21', cellphone='01051356164')]

In [16]:
emp = data[-1]

In [17]:
emp.name, emp.age, emp.cellphone

('김희연', '21', '01051356164')

In [18]:
emp._asdict()

{'name': '김희연', 'age': '21', 'cellphone': '01051356164'}

In [19]:
emp = emp._replace(name = "박희연")

In [20]:
emp

Employee(name='박희연', age='21', cellphone='01051356164')

# 사용한 단어 개수를 구하려면?(collection.Counter)
### 값이 같은 요소가 몇 개 인지를 확인할 때 사용하는 클래스

In [21]:
data = '''가족력/길상호
동생에게 성기를 내보이는 게 싫어
둘째 형은 끝내 간이 소변통을 거부한 채
부은 발을 이끌고 화장실로 향했다
아버지를 위해 마지막으로 했던 일도
자다 일어나 화장실까지 부축했던 것
문 앞에 서서 힘없는 오줌발 소리를 들었던 것
고양이 산문이는 아픈 걸 감추고 감추다가
장판 위에 오줌을 흥건하게 싸놓고는
거기 힘없이 몸을 내려놓았다
세 가족을 데리고 간 건 모두 당뇨 합병증
먼저 간 가족을 떠올릴 때마다
간절하게
오줌이 마려웠다
ㅡ 『서정과 현실』 (2022, 상반기호)'''

In [22]:
from collections import Counter
import re

words = re.findall(r'\w+', data)
counter = Counter(words)
print(counter.most_common(4))

[('것', 2), ('가족을', 2), ('간', 2), ('가족력', 1)]

In [23]:
print(counter)

Counter({'것': 2, '가족을': 2, '간': 2, '가족력': 1, '길상호': 1, '동생에게': 1, '성기를': 1, '내보이는': 1, '게': 1, '싫어': 1, '둘째': 1, '형은': 1, '끝내': 1, '간이': 1, '소변통을': 1, '거부한': 1, '채': 1, '부은': 1, '발을': 1, '이끌고': 1, '화장실로': 1, '향했다': 1, '아버지를': 1, '위해': 1, '마지막으로': 1, '했던': 1, '일도': 1, '자다': 1, '일어나': 1, '화장실까지': 1, '부축했던': 1, '문': 1, '앞에': 1, '서서': 1, '힘없는': 1, '오줌발': 1, '소리를': 1, '들었던': 1, '고양이': 1, '산문이는': 1, '아픈': 1, '걸': 1, '감추고': 1, '감추다가': 1, '장판': 1, '위에': 1, '오줌을': 1, '흥건하게': 1, '싸놓고는': 1, '거기': 1, '힘없이': 1, '몸을': 1, '내려놓았다': 1, '세': 1, '데리고': 1, '건': 1, '모두': 1, '당뇨': 1, '합병증': 1, '먼저': 1, '떠올릴': 1, '때마다': 1, '간절하게': 1, '오줌이': 1, '마려웠다': 1, 'ㅡ': 1, '서정과': 1, '현실': 1, '2022': 1, '상반기호': 1})

# 딕셔너리를 한 번에 초기화하려면?(collection.defaultdict)
### 초기값을 지정하여 딕셔너리를 생성하는 모듈

In [24]:
text = "Life is too short, You need python"

d = dict()
for key in text:
    
    ################
    if key not in d:
        d[key] = 0
    #################
    
    d[key] += 1
print(d)

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1}

In [25]:
from collections import defaultdict

text = "Life is too short, You need python"

d = defaultdict(int)
for key in text:
    d[key]+=1
print(dict(d))

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1}

# 수상자 3명을 선정하려면?(heapq)
### 우선순위 큐를 구현한 모듈

In [26]:
import heapq

data = [
    (12.23, "황성민"),
    (10.32, "최승현"),
    (11.35, "이민우"),
    (9.92, "조찬우"),
    (10.51, "정헌수"),
    (11.16, "박상범"),
    (13.25, "이재훈")
]

h = []
for score in data:
    heapq.heappush(h,score)
    
for i in range(3):
    print(heapq.heappop(h))

(9.92, '조찬우')
(10.32, '최승현')
(10.51, '정헌수')

In [27]:
import heapq

data = [
    (12.23, "황성민"),
    (10.32, "최승현"),
    (11.35, "이민우"),
    (9.92, "조찬우"),
    (10.51, "정헌수"),
    (11.16, "박상범"),
    (13.25, "이재훈")
]

#data를 힙 구조에 맞게 변경
heapq.heapify(data)
    
for i in range(3):
    print(heapq.heappop(data))

(9.92, '조찬우')
(10.32, '최승현')
(10.51, '정헌수')

In [28]:
import heapq

data = [
    (12.23, "황성민"),
    (10.32, "최승현"),
    (11.35, "이민우"),
    (9.92, "조찬우"),
    (10.51, "정헌수"),
    (11.16, "박상범"),
    (13.25, "이재훈")
]

print(heapq.nsmallest(3,data))

#반대
print(heapq.nlargest(3,data))

[(9.92, '조찬우'), (10.32, '최승현'), (10.51, '정헌수')]
[(13.25, '이재훈'), (12.23, '황성민'), (11.35, '이민우')]

# 데이터를 보기 좋게 출력하려면?(pprint)

In [29]:
from pprint import pprint

data = [
    (12.23, "황성민"),
    (10.32, "최승현"),
    (11.35, "이민우"),
    (9.92, "조찬우"),
    (10.51, "정헌수"),
    (11.16, "박상범"),
    (13.25, "이재훈")
]

print(data)

[(12.23, '황성민'), (10.32, '최승현'), (11.35, '이민우'), (9.92, '조찬우'), (10.51, '정헌수'), (11.16, '박상범'), (13.25, '이재훈')]

In [30]:
pprint(data)

[(12.23, '황성민'),
 (10.32, '최승현'),
 (11.35, '이민우'),
 (9.92, '조찬우'),
 (10.51, '정헌수'),
 (11.16, '박상범'),
 (13.25, '이재훈')]

In [31]:
data = '''가족력/길상호
동생에게 성기를 내보이는 게 싫어
둘째 형은 끝내 간이 소변통을 거부한 채
부은 발을 이끌고 화장실로 향했다
아버지를 위해 마지막으로 했던 일도
자다 일어나 화장실까지 부축했던 것
문 앞에 서서 힘없는 오줌발 소리를 들었던 것
고양이 산문이는 아픈 걸 감추고 감추다가
장판 위에 오줌을 흥건하게 싸놓고는
거기 힘없이 몸을 내려놓았다
세 가족을 데리고 간 건 모두 당뇨 합병증
먼저 간 가족을 떠올릴 때마다
간절하게
오줌이 마려웠다
ㅡ 『서정과 현실』 (2022, 상반기호)'''

In [32]:
import re
from collections import Counter
words = re.findall(r'\w+', data)
counter = Counter(words)

In [33]:
print(counter)

Counter({'것': 2, '가족을': 2, '간': 2, '가족력': 1, '길상호': 1, '동생에게': 1, '성기를': 1, '내보이는': 1, '게': 1, '싫어': 1, '둘째': 1, '형은': 1, '끝내': 1, '간이': 1, '소변통을': 1, '거부한': 1, '채': 1, '부은': 1, '발을': 1, '이끌고': 1, '화장실로': 1, '향했다': 1, '아버지를': 1, '위해': 1, '마지막으로': 1, '했던': 1, '일도': 1, '자다': 1, '일어나': 1, '화장실까지': 1, '부축했던': 1, '문': 1, '앞에': 1, '서서': 1, '힘없는': 1, '오줌발': 1, '소리를': 1, '들었던': 1, '고양이': 1, '산문이는': 1, '아픈': 1, '걸': 1, '감추고': 1, '감추다가': 1, '장판': 1, '위에': 1, '오줌을': 1, '흥건하게': 1, '싸놓고는': 1, '거기': 1, '힘없이': 1, '몸을': 1, '내려놓았다': 1, '세': 1, '데리고': 1, '건': 1, '모두': 1, '당뇨': 1, '합병증': 1, '먼저': 1, '떠올릴': 1, '때마다': 1, '간절하게': 1, '오줌이': 1, '마려웠다': 1, 'ㅡ': 1, '서정과': 1, '현실': 1, '2022': 1, '상반기호': 1})

In [34]:
pprint(counter)

Counter({'것': 2,
         '가족을': 2,
         '간': 2,
         '가족력': 1,
         '길상호': 1,
         '동생에게': 1,
         '성기를': 1,
         '내보이는': 1,
         '게': 1,
         '싫어': 1,
         '둘째': 1,
         '형은': 1,
         '끝내': 1,
         '간이': 1,
         '소변통을': 1,
         '거부한': 1,
         '채': 1,
         '부은': 1,
         '발을': 1,
         '이끌고': 1,
         '화장실로': 1,
         '향했다': 1,
         '아버지를': 1,
         '위해': 1,
         '마지막으로': 1,
         '했던': 1,
         '일도': 1,
         '자다': 1,
         '일어나': 1,
         '화장실까지': 1,
         '부축했던': 1,
         '문': 1,
         '앞에': 1,
         '서서': 1,
         '힘없는': 1,
         '오줌발': 1,
         '소리를': 1,
         '들었던': 1,
         '고양이': 1,
         '산문이는': 1,
         '아픈': 1,
         '걸': 1,
         '감추고': 1,
         '감추다가': 1,
         '장판': 1,
         '위에': 1,
         '오줌을': 1,
         '흥건하게': 1,
         '싸놓고는': 1,
         '거기': 1,
         '힘없이': 1,
         '몸을': 1,
         '내려놓았다': 1,
         '세': 1,
         '데리고': 1,
         '건': 1,
         '모두': 1,
         '당뇨': 1,
         '합병증': 1,
         '먼저': 1,
         '떠올릴': 1,
         '때마다': 1,
         '간절하게': 1,
         '오줌이': 1,
         '마려웠다': 1,
         'ㅡ': 1,
         '서정과': 1,
         '현실': 1,
         '2022': 1,
         '상반기호': 1})

# 점수에 따른 학점을 구하려면?(bisect)
### 이진 탐색 알고리즘으르 구현한 모듈, bisect.bisect()함수는 정렬된 리스트에 값을 삽입할 때 정렬을 유지할 수 있는 인덱스를 반환

In [35]:
[33,99,77,70,89,90,100]

# 90 >= A
# 80 >= B
# 70 >= C
# 60 >= D
# 60 < F

[33, 99, 77, 70, 89, 90, 100]

In [36]:
import bisect

result = []

for score in [33,99,77,70,89,90,100]:
    pos = bisect.bisect([60,70,80,90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)
print(result)

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [37]:
[33,99,77,70,89,90,100]

# 90 > A
# 80 > B
# 70 > C
# 60 > D
#60 <= F

[33, 99, 77, 70, 89, 90, 100]

In [38]:
import bisect

result = []

for score in [33,99,77,70,89,90,100]:
    pos = bisect.bisect_left([60,70,80,90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)
print(result)

['F', 'A', 'C', 'D', 'B', 'B', 'A']

In [39]:
import bisect

a = [60,70,80,90]

# a리스트에 85 정렬 위치로 삽입
bisect.insort(a,85)
a

[60, 70, 80, 85, 90]

# 숫자에 이름을 붙여 사용하려면?(enum)
### 서로 관련이 있는 여러개의 상수 집합을 정의할 때 사용하는 모듈

In [40]:
from datetime import date

def get_mennu(input_date):
    weekday = input_date.isoweekday() # 1부터 월

    if weekday == 1:
        menu = "김치지개"
    elif weekday == 2:
        menu = "비빔밥"
    elif weekday == 3:
        menu = "된장찌개"
    elif weekday == 4:
        menu = "불고기"
    elif weekday == 5:
        menu = "갈비탕"
    elif weekday == 6:
        menu = "라면"
    elif weekday == 7:
        menu = "건빵"
        
    return menu

print(get_mennu(date(2023,2,5)))
print(get_mennu(date(2023,2,6)))

건빵
김치지개

In [41]:
from datetime import date
from enum import IntEnum

class Week(IntEnum):
    MonDay = 1
    TUEWSDAY = 2
    WENDSDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7
    
def get_menu(input_date):
    menu = {
        Week.MonDay : "김치찌개",
        Week.TUEWSDAY : "비빔밥",
        Week.WENDSDAY : "된장찌개",
        Week.THURSDAY : "불고기",
        Week.FRIDAY : "갈비탕",
        Week.SATURDAY : "라면",
        Week.SUNDAY : "건빵"
    }
    
    return menu[input_date.isoweekday()]

print(get_mennu(date(2023,2,5)))
print(get_mennu(date(2023,2,6)))

건빵
김치지개

In [42]:
for week in Week:
    print(f'{week.name}:{week.value}')

MonDay:1
TUEWSDAY:2
WENDSDAY:3
THURSDAY:4
FRIDAY:5
SATURDAY:6
SUNDAY:7

# 수강할 과목의 순서를 구하려면? (graphlib.TopologicalSorter)
### 위상 정렬에 사용하는 클래스

In [43]:
#영어 초급, 영어 중급, 영어 고급, 영어 문법, 영어 회화

# 규칙 1
# 영어 초급 -> 영어 중급 -> 영어 고급

# 규칙 2
# 영어 중급 -> 영어 문법 -> 영어 고급

# 규칙 3 
# 영어 문법 -> 영어 회화

In [44]:
from graphlib import TopologicalSorter

ts = TopologicalSorter()


#add(노드, *선행_노드)

#규칙1
ts.add('영어 중급', '영어 초급')
ts.add('영어 고급', '영어 중급')

#규칙2

ts.add('영어 문법', '영어 중급')
ts.add('영어 고급', '영어 문법')

#규칙3
ts.add('영어 회화', '영어 문법')

print(list(ts.static_order())) # 위상 정렬한 결과 출력

['영어 초급', '영어 중급', '영어 문법', '영어 고급', '영어 회화']